.about-page{
    width:100vw;
    height:100vh;
    background: linear-gradient(to right, #DFEAF2 0%, #92B2E8 100%);
    display:flex;
    align-items:center;
    justify-content: center;
}


.about-section{
    display:flex;
    align-items: center;
    justify-content: center;
    width:65%;
    height:60vh;
    background: #627ca47a;
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px);
    flex-direction: column;
    padding:2rem;
    border-radius:40px;
    position:relative;
    overflow:hidden;
}

.about-us-upper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:80%;
    height: 80%;
}

.about-para{
    font-size:1.25rem;
    text-align: center;
    
    color:#fff;

    
    
}

.about-btn{
    font-size:1.5rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-top: 1rem;
    width:35%;
    border-radius:50px;
    background: #445E88;
    backdrop-filter: blur(42px);
    color:#fff;
    -webkit-backdrop-filter: blur(42px);
    border:none;
}

.about-head{
    font-size:8rem;
    bottom:0%;
    opacity:39%;
    color:#fff;
    position:absolute;
    transform:translateY(20%);
}


