.about-page{
    width:100vw;
    height:100vh;
    background: #ebf4fd;
    display:flex;
    align-items:center;
    justify-content: center;
    overflow:hidden;
}


.about-section{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    height:70vh;
    border:1px solid #021432;
    background-color: #fff;
    flex-direction: column;
    padding:2rem;
    border-radius:40px;
    position:relative;
    overflow:hidden;
}

.about-us-upper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:85%;
    height: 80%;
}

.about-para{
    font-size:1.5rem;
    text-align: justify;
    font-family: "Raleway",sans-serif;
    color:#021432;
    text-align-last:center;
    width:100%;

}

.link-btn{
    color:#021432;
}

.about-btn{
    font-size:1.5rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-top: 1rem;
    width:35%;
    border-radius:50px;
    background: #fff;
    backdrop-filter: blur(42px);
    color:#021432;
    -webkit-backdrop-filter: blur(42px);
    border:1px solid #021432;
}

.about-head{
    font-size:8rem;
    bottom:0%;
    opacity:100%;
    font-weight:1000;
    color:#021432;
    position:absolute;
    transform:translateY(20%);
}

.about-head-mobile{
    display: none;
}


@media(max-width:768px){
    .about-page{
        width: 100vw;
        height:100vh;
        overflow:hidden;
        align-items:normal;
        
    }

    .about-section{
        width:98%;
        height:70%;
        padding-top:2rem;
        padding-bottom:2rem;
        padding:0rem;
        margin-top: 15vh;
        
    }

    .about-us-upper{
        width:100%;
        height:auto;
    }

    
    .about-para{
        font-size:1rem;
        text-align: justify;
        text-align-last: center;
        margin-top:0rem;
        margin-bottom: 0rem;
        width:90%;
    }
    .about-btn{
        font-size:1.25rem;
        width:90%;
    }
    .about-head{
        display: none;
     
    }

    .about-head-mobile{
        display: block;
        font-size:3.8rem;
        margin-bottom: 1rem;
        bottom:0%;
        opacity:100%;
        color:#021432;
       
    }

    .about-stroke{
        display: block;
        width:95%;
        height:1px;
        background-color:#021432;
        opacity:100%;
        margin-bottom: 1rem;
    }


}


