.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    flex-direction: column;
    background-color:#fff;
}

.footer-upper{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:85%;
    border:1px solid #021432;
    padding:2rem;
    border-radius:30px;
}

.branding{
    width:30%;
    
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.contact-details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top:2rem;
}

.contact-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:2rem;
}


.info{
    font-size:1.5rem;
    color:#458;
}

@media(max-width:1000px){
    .footer-upper{
        width: 95%;
        flex-direction: column;
        gap:3rem;
        padding:1rem;
        border:none;
    }

    .footer-row{
        flex-direction: column;
    }

    .contact-details{
        align-items: flex-start;
        flex-direction: column;
        gap:2rem;
    }

    .info{
        font-size:1rem;
    }

    .footer-social{
        gap:3rem;
    }
    .branding{
        width:90%;
        margin-bottom:2rem;
    }
}

.copyright{
    color:#021432;
}