.navbar{
    width:90%;
    background: rgba(247, 252, 255, 0.356);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(42px);
    border:1px solid rgba(247, 252, 255, 0.321);
    color:#fff;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index:1000;
    border-radius:50px;
    flex-direction: row;
    overflow: hidden;
  
}

ul{
    list-style: none;
}
.nav-links{
    font-size: 1.25rem;
    font-weight: 500;
    color:#133D74;
    cursor:pointer;
}

a{
    text-decoration: none;
    color:#133D74;
}

@media(max-width:1000px){
    .navbar{
        display: none;
    }
}

