.product-home{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    padding-top:2rem;
    flex-direction: column;
   
    background: linear-gradient(to right, #02193f 0%, #1a2333 100%);
    overflow: hidden;
}

.product-section{
    display:flex;
    margin-top:2rem;
    align-items: center;
    
   
    width:85%;
    height:55%;

    border-radius:30px;
    padding:1rem;
    
    overflow: hidden;

}

.product{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width:100%;
   border:1px solid #02193f;
   background-color: #fff;
   box-shadow:5px 5px 0px rgb(255,255,255);
   padding: 1rem;
    border-radius:20px;
    margin-top:4vh;
    pointer-events: all;

}

.product>img{
    width:90%;
}





.product-mobile-head{
    display:flex;
    margin-top: 2rem;
    font-size: 5rem;
    font-family: "Raleway",sans-serif;
    letter-spacing: -1px;
}

.all-products{
    width:100%;
    
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.product-btn{
    width:30%;
    font-size:2rem;
    border-radius: 30px;
    color:#02193f;
    

}

.product-name{
    font-size:1.5rem;
    margin-top:1rem;
    color:#021432;
    font-family: 'Raleway',sans-serif;
    font-weight:500;
}

.product-home-para{
    font-size:1.25rem;
    margin-top:1rem;
    width:60%;
    opacity: 100%;
    font-weight: 200;
    line-height:1.75rem;
    font-family: 'Raleway',sans-serif;
    text-align: justify;
    text-align-last: center;
}

@media(max-width:1600px){
    .product-name{
        font-size:1.25rem;
    }
}

.swiper-button-prev, .swiper-button-next {
    position:absolute;
    
 
    font-size: 2px !important;
    background-color: #fff;
  
    padding:1.5rem;
    color:#02193f !important;
    border-radius: 10px;
    border:1px solid #02193f;
   
}

.products-stroke{
    background-color:#fff;
    width:60%;
    height:1px;
    margin-top:1rem;
    margin-bottom:1rem;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;          /* increase arrow icon size */
}

@media(max-width:768px){
    .product-home{
        width:100vw;
        height: 100vh;
        align-items:  center;
        
    }

    .products-stroke{
        width:90%;
        margin-bottom: 0rem;
    }
    .product-section{
        width:100%;
        margin-top: 0rem;
        height: auto;
        padding:1rem;
        background:none;
      
    }

    .product{
        background-color: #ffffff;
        border:1px solid #021432;
        margin-bottom:2rem;
    }

    .product>img{
        width:110%;
        margin-top:-2rem;
       
    }

    .product-head{
        display: none;
    }

    .product-mobile-head{
        display: block;
        font-size:3.8rem;
        line-height:3.65rem;
        font-weight:800;
        text-align: center;
        margin-bottom: 1rem;
        bottom:0%;
        opacity:100%;
        color:#fff;
       
    }

    .product-home-para{
        font-size:1rem;
        width:90%;
        line-height: 1.25rem;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

   

}