.product-home{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #DFEAF2 0%, #92B2E8 100%);
    overflow: hidden;
}

.product-section{
    display:flex;
    margin-top:2rem;
    align-items: center;
    
    flex-direction: column;
    width:70%;
    height:70%;
    background: #627ca47a;
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px);
    border-radius:30px;
    padding:2rem;
    
    overflow: hidden;

}

.product{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width:100%;
   background-color:#ffffff25;
   padding: 1rem;
    border-radius:20px;
    margin-top:4vh;

}

.product>img{
    width:90%;
}




.product-head{
    font-size:8rem;
    bottom:0%;
    opacity:39%;
    color:#fff;
    position:absolute;
    transform:translateY(20%);
    width: 100%;
    text-align: center;
}

.product-mobile-head{
    display:none;
}

.all-products{
    width:100%;
    
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.product-btn{
    width:30%;
    font-size:2rem;
    border-radius: 30px;
    color:#fff;
    background-color:#a3baddb3;

}

.product-name{
    font-size:1.5rem;
    margin-top:1rem;
    color:#fff;
    font-weight:200;
}

@media(max-width:768px){
    .product-section{
        width:100%;
        height: auto;
        padding:1rem;
        background-color: #ffffff00;
    }

    .product-head{
        display: none;
    }

    .product-mobile-head{
        display: block;
        font-size:3.8rem;
        margin-bottom: 1rem;
        bottom:0%;
        opacity:45%;
        color:#fff;
       
    }
}