.product-page{
    width:100vw;
    height:100vh;
    display: flex;

    justify-content: center;
    background: linear-gradient(to right, #DFEAF2 0%, #92B2E8 100%);
}

.product-section{
    display:flex;
    margin-top:2rem;
    justify-content: center;
    width:70%;
    height:70%;
    background: #627ca47a;
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px);
    border-radius:30px;
    gap:2rem;
    overflow: hidden;

}

.product{
    width:25%;
    margin-top:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#a3badd;
    padding-top:2rem;
    padding-bottom:2rem;
    border-radius:30px;
    height:60%;
}

.product>img{
    width:90%;
}


.product>h2{
    font-size:2rem;
    margin-top:2rem;
    color:#fff;
}

.product-head{
    font-size:8rem;
    bottom:0%;
    opacity:39%;
    color:#fff;
    position:absolute;
    transform:translateY(20%);
}